.winning-agent{float: left;width: 100%;}
.winning-agent h2{color: #ffd900;font: 40px/42px 'open_sansbold',arial;text-shadow:2px 1px 2px #000;}
.winning-agent strong{color: #fff;font: 18px/18px 'open_sansbold',arial;text-shadow:2px 1px 2px #000;display: inline-block;margin: 5px 0 0 0;}
.agents-pic{float: left;width: 100%;margin: 30px 0 0 0;}
.agents-pic li{width: 21%;margin: 0 2%;float: left;padding: 0 0 25px 0;text-align: center;}
.agents-pic li a{float: left;width: 100%;text-align: center;}
.agents-pic figure{margin: 0 10%;width: 80%;}
.agents-pic figure img{float: left;border:2px solid #fff;border-radius: 50px;}
.agents-pic strong{text-shadow:none;float: left;width: 100%;text-align: center;font: 14px/14px 'Open Sans Semibold',arial;color: #fff;margin: 10px 0 0 0;}
/*============================= 
! Layout for ipad landscape  
============================= */
@media only screen and (max-width: 1024px) {

}
/* ============================= */
/*============================= 
! Layout for ipad portrait  
============================= */
@media only screen and (max-width: 992px) {

}
/* ============================= */
/* ! Layout for mobile(lanscape) version   */
/* ============================= */
@media only screen and (max-width: 767px) {
.agents-pic li.lost{display: none;}
}
/* ============================= */
/* ! Layout for mobile(portrait) version   */
/* ============================= */
@media only screen and (max-width: 479px) {
.winning-agent h2{font: 30px/35px "open_sansbold",arial;}
}